# Prerequisites
*.d

# Compiled Object files
[Bb]uild/
x64/
x86/
Debug/
Release/
*.slo
*.lo
*.o
*.obj

# Json user configuration
conf/
SpaceInvaderSettings.json

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS
.vs/
*.suo
*.user
*.userosscache
*.sdf
*.cache
*.VC.db
*.VC.opendb
*.aps
*.ncb
*.opensdf

# Temporary files
*.tmp
*.bak
*.d
*.DS_Store
Thumbs.db
